.form {
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}

.form__label {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  margin-bottom: 8px;
}

.form__input {
  border-radius: 4px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  margin-bottom: 32px;
  padding: 15px 20px;
}

.form__button {
  border-radius: 4px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 385px;
  height: 60px;
  margin-top: 32px;
  background-color: #2f80ed;
  color: #d9e7ff;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  margin-top: 32px;
  width: 20px;
  height: 20px;
}

.form__label_checkbox {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 12px;
}
