.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  margin-top: 30px;
  margin-left: 30px;
  height: 39px;
  width: 105px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 80px;
  margin-top: 30px;
}

.nav__link {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.nav__link:hover {
  color: #2f80ed;
}
