.recipes {
  box-sizing: border-box;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5px 0;
  margin: 0;
}

.recipes__title {
  max-width: 580px;
  margin-top: 100px;
  margin-left: 80px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__subtitle {
  max-width: 438px;
  margin-top: 24px;
  margin-left: 80px;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 215px;
  column-gap: 40px;
}

.recipes__video-item {
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  column-gap: 40px;
}

.recipes__iframe {
  margin: 0;
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-top: 24px;
}
