.reservation {
  color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 0;
}

.reservation__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000000;
  text-align: center;
  margin: 0 auto 80px;
  padding-top: 100px;
}

.reservation__form {
  max-width: 385px;
  padding-bottom: 120px;
  margin: auto;
}
