p {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  margin-top: 30px;
  margin-left: 30px;
  height: 39px;
  width: 105px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 80px;
  margin-top: 30px;
}

.nav__link {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.header__title {
  margin: 0;
  margin-top: 183px;
  margin-left: 80px;
  max-width: 709px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin: 0;
  max-width: 683px;
  margin-top: 28px;
  margin-left: 80px;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin: auto 80px 40px 80px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  align-items: flex-end;
}

.header__paragraph {
  margin: 0;
  color: #838383;
}

.recipes {
  box-sizing: border-box;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5px 0;
  margin: 0;
}

.recipes__title {
  max-width: 580px;
  margin-top: 100px;
  margin-left: 80px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__subtitle {
  max-width: 438px;
  margin-top: 24px;
  margin-left: 80px;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 215px;
  column-gap: 40px;
}

.recipes__video-item {
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  column-gap: 40px;
}

.recipes__iframe {
  margin: 0;
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-top: 24px;
}

.reservation {
  color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 0;
}

.reservation__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000000;
  text-align: center;
  margin: 0;
  margin-top: 100px;
}

.reservation__form {
  max-width: 385px;
  padding-top: 80px;
  padding-bottom: 120px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}

.form__label {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  margin-bottom: 8px;
}

.form__input {
  border-radius: 4px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  margin-bottom: 32px;
  padding: 15px 20px;
}

.form__button {
  border-radius: 4px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 385px;
  height: 60px;
  margin-top: 32px;
  background-color: #2f80ed;
  color: #d9e7ff;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  margin-top: 32px;
  width: 20px;
  height: 20px;
}

.form__label_checkbox {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 12px;
}
